# macOS
.DS_Store

# Python
__pycache__
.ipynb_checkpoints

# IDEs
.idea
.vscode

# Project
adv_samples

hosp_results
hosp_results_parallel
saved_models
datasets
hosp_results_gossis
hosp_results_eicu
hosp_results_eicu_multiv
